/* Contenedor principal para limpiar el estilo base */
.custom-react-calendar {
  width: 100% !important;
  border: none !important;
  background: transparent !important;
  font-family: inherit !important;
}

/* Header: Mes y flechas de navegación */
.react-calendar__navigation {
  display: flex;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 14px;
  font-weight: 700;
  color: #1e293b; /* slate-800 */
  border-radius: 8px;
  transition: all 0.2s;
}

.dark .react-calendar__navigation button {
    color: #f8fafc;
}

.react-calendar__navigation button:hover {
  background-color: #3489dd !important;
}

/* Días de la semana (L, M, X...) */
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.65rem;
  color: #94a3b8; /* slate-400 */
  padding-bottom: 10px;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

/* Celdas de los días */
.react-calendar__tile {
  padding: 12px 8px !important;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.2s;
  position: relative;
}

/* Hover general */
/* .react-calendar__tile:hover {
  background-color: #2c7bc9 !important;
} */

/* Estados personalizados */
/* .tile-aprobado {
  background-color: #ecfdf5 !important;
  color: #059669 !important;
} */

/* .tile-pendiente {
  background-color: #fffbeb !important;
  color: #d97706 !important;
} */

/* .tile-rechazado {
  background-color: #fff1f2 !important;
  color: #e11d48 !important;
} */

/* Día actual */
.react-calendar__tile--now {
  background: #eff6ff !important;
  color: #2563eb !important;
  border: 1px solid #bfdbfe !important;
}

/* Quitar el azul feo por defecto al seleccionar */
 

/* Punto indicador */
.dot-indicator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  margin-top: 4px;
  opacity: 0.6;
}


.tile-aprobado {
  color: #059669 !important; /* emerald-600 */
}

.tile-pendiente {
  color: #d97706 !important; /* amber-600 */
}

.tile-rechazado {
  color: #e11d48 !important; /* rose-600 */
}

.react-calendar__tile--active {
  background: #f1f5f9 !important; /* slate-100 */
  border-radius: 12px;
  color: #1e293b !important;
  font-weight: 900 !important;
}

.react-calendar__tile:hover {
  border-radius: 12px;
}